{% extends 'base.html' %}

{% block title %}
    <title>about</title>
{% endblock %}

{% block content %}
<style>
    body {
      background-image: url('https://images.ctfassets.net/usf1vwtuqyxm/4j6x7iMI88aicYasciiMsm/ebe15036f6c78846c3e8b2fde3ea5795/HogwartsCastle_WB_F5_HogwartsCastleIllustration_Illust_080615_Land.jpg');
      background-size: 1600px 1200px;
  }
    </style>
    <style>
        .box {
            background-color: rgba(255, 255, 255, 0.5);
        }
    </style>
    <div class="box">
    <h1 style="color:rgb(0, 0, 0);">Hogwarts History</h1>
    <h3 style="color:rgb(0, 0, 0);">Establishment</h3>
    <h5 style="color:rgb(0, 0, 0);">Founded around the 9th century and 10th century by 
        Godric Gryffindor, Rowena Ravenclaw, Helga Hufflepuff and Salazar Slytherin, 
        Hogwarts was established in the Highlands of Scotland to educate young wizards and 
        witches as well as to keep students safe from Muggle persecution. 
        Theory has it that Rowena Ravenclaw came up with the name of Hogwarts after dreaming of a warty hog 
        that led her to a cliff by a lake. Since then, 
        Hogwarts educated most wizarding children with residence in Great Britain and Ireland, 
        keeping its location hidden from other wizarding schools and Muggles.</h5>
    <h3 style="color:rgb(0, 0, 0);">Middle Ages</h3>
    <h5 style="color:rgb(0, 0, 0);">About 300 years after the school was founded, 
        the Triwizard Tournament was established as an interscholastic competition among the three most prestigious magical schools in Europe: Hogwarts, 
        Beauxbatons, and Durmstrang. The tournament continued for six centuries before being discontinued. 
        An attempt was made in the 1994-1995 school year to revive the tournament, 
        but the consequential death of Cedric Diggory resulted in its permanent discontinuation.</h5>
    <h3 style="color:rgb(0, 0, 0);">Academics and traditions</h3>
    <h5 style="color:rgb(0, 0, 0);">Hogwarts is a coeducational, 
        secondary boarding school, taking children from ages eleven to eighteen, 
        in line with real-world combined secondary and sixth form institutions in Britain. 
        Education at Hogwarts is not compulsory, with some students being home schooled as stated in the seventh book. 
        Rowling initially said there are about one thousand students at Hogwarts. 
        She later suggested around six hundred, while acknowledging that this number was still inconsistent with the small number of people in Harry's year. 
        She further explained that this had resulted from her creating only forty characters for Harry's year.</h5>
    <h3 style="color:rgb(0, 0, 0);">Arrival</h3>
    <h5 style="color:rgb(0, 0, 0);">The primary mode of transport to Hogwarts is the Hogwarts Express that students take at the start of each school year. 
        Students board the train from the also fictional and hidden Platform 9+3/4 at King's Cross station in London. 
        The train arrives at Hogsmeade station near Hogwarts, sometime after nightfall.</h5>

    <h5 style="color:rgb(0, 0, 0);">From there, first-year students are accompanied by the "Keeper of the Keys, Game and Grounds" 
        (which was Rubeus Hagrid during the first novel) to small boats, 
        which magically sail across the lake and get them near the entrance of Hogwarts. 
        The older students ride up to the castle in carriages pulled by creatures called Thestrals. 
        When the first-year students initially arrive at the castle, 
        they wait in a small chamber off the entrance hall until the older students have taken their seats, 
        and then enter the Great Hall for the Sorting Ceremony to determine their House assignments. 
        As Professor Minerva McGonagall said in Harry Potter and the Philosopher's Stone, 
        "The Sorting is a very important ceremony because, while you are here, 
        your House will be something like your family within Hogwarts. 
        You will have classes with the rest of your House, sleep in your House dormitory, and spend free time in your House common room."</h5>
        
    <h5 style="color:rgb(0, 0, 0);">After the Sorting Hat sings a song, each student in turn is seated upon the stool in front of the rest of the student body. 
        The Hat is placed on the student's head, whereupon it examines his or her mind and assigns them to one of the four Houses based on abilities, 
        personality, and preferences. After the Sorting Ceremony, the students and teachers enjoy a feast, 
        prepared by the Hogwarts house-elves. If Albus Dumbledore is feeling cheerful, he will lead the students in singing the school song.</h5>
    </div>
{% endblock %}