{% extends 'base.html' %}

{% block title %}
    <title>my course</title>
{% endblock %}

{%block content%}
<style>
  body {
    background-image: url('https://images7.alphacoders.com/130/1301376.jpg');
    background-size: 1600px 900px;
}
</style>
<h1 style="color: rgb(255, 255, 255);">my courses</h1>
<p></p>
<h3 style="color: rgb(255, 255, 255);">stu_id: {{user}}</h3>
<table class="table table-light table-hover table-striped table-bordered border-dark">
    <thead>
      <tr>
        <th scope="col">course_id</th>
        <th scope="col">name</th>
        <th scope="col">max</th>
        <th scope="col">n_student</th>
        <th scope="col">lecturer</th>
        <th scope="col">cancel</th>
      </tr>
    </thead>
    {%for course in courses%}
    <tr>
        <th scope="row">{{course.ID}}</th>
        <td>{{course.name}}</td>
        <td>{{course.num}}</td>
        <td>{{course.nItems}}</td>
        <td>{{course.lecturer}}</td>
        <td>
        <form method="post" action="">
          {% csrf_token %}
          <button class="btn btn-danger btn-md " type="submit" value="{{course.ID}}" name="cancel">cancel</button>
            </form>
        </td>
        
    </tr>
    {%endfor%}
  </table>




  <form method="post">
  {% csrf_token %}
  <fieldset>
    <div class="mb-3">
      <label for="course" class="form-label" style="color: rgb(255, 255, 255);">select course</label>
      <select id="course" class="form-select" name="c_id">
        {%for c in a_c%}
          <option value="{{c.ID}}">{{c.ID}}</option>
        {%endfor%}
      </select>
    </div>
    <input type ='submit' value="Submit" class="btn btn-secondary">
    </form>
  </fieldset>

{%endblock%}