{%extends 'base.html'%}
{%block content%}
<h1 style="color: aliceblue;">login</h1>

<style>
  body {
    background-image: url('https://wallpaperaccess.com/full/871025.png');
    background-size: 1500px 1000px;
}
  </style>

<form method="post">
    {% csrf_token %}
    {%if messages%}
      {% for message in messages%}
      <div class="alert alert-danger" role="alert">
        {{message}}  
      </div>
      
      {% endfor%}
    {% endif%}
        <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" style="color: aliceblue;">Student id</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" name="username">
          <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" style="color: aliceblue;">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        

    <input type ='submit'
    value="Submit" class="btn btn-secondary">
    </form>
</form>
{%endblock%}